/* Welcome to ~/Jarvis!. A Simple startup page for chrome. The html/css/js files will be commented thoroughly. */

/* Setting stylesheet wide font. */
@font-face {
    src: url("fonts/JetBrainsMono-Bold.ttf");
}

/* Setting background color. */
body {
    background-color: black;
    line-height: 30px;
    font-family: "JetBrains Mono Medium", serif;

}

main {
    margin: 0px;
    padding-top: 150px;
    padding-left: 680px;
    font-size: 22px;
}

.dot {
    color: #ffac41;
    font-size: 30px;

}

/* .dev file customization. */
.dev {
    font-size: 22px;
    color: #ffac41;
}

/* .school file customization. */
.school {
    font-size: 22px;
    color: #ffac41;

}

/* .entertainment file customization. */
.media {
    font-size: 22px;
    color: #ffac41;

}

/* .work file customization. */
.work {
    font-size: 22px;
    color: #ffac41;

}

/* .type file customization. */
.type {
    color: #ffac41;
    padding-left: 0px;
    font-size: 22px;
    /* Makes sure that the animation stays in one specific line. */
    white-space: nowrap;
    /* Makes sure the content does not show until the animation is done. */
    overflow: hidden;
    /* Makes sure that there is a typewriter cursor. */
    /* To make the height of the right border the same height as the
    text manipulate the top padding in <main> */
    border-right: solid 2px rgb(255, 255, 255);

}

/* .type animation details */
.type {
    /* .work file customization. */
    animation: animated-text 3s steps(29, end) 1s 1 normal both,
    animated-cursor steps(29, end) infinite;
}

/* Setting a new color palette for the main prompt*/
.grayText {
    color: #BFB8AA;
}


@keyframes animated-text {
    from {
        width: 0
    }
    to {
        width: 350px
    }
}


